.maincontainer{
    padding: 20px;
    margin: auto;
   

}
.keyname{
    display: flex;
    justify-content:center;
    width: 100%;
    color: azure;
   
}
.linkname{
    text-decoration: none;
    background-color: cadetblue;
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
}
.backgrounauth{
    background-image:url('../image//ktmmuni.avif');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}